* {
  padding: 0%;
  margin: 0%;
  font-family: sans-serif;
}
::-webkit-scrollbar {
  width: 18px;
  height: 18px;
}

::-webkit-scrollbar-thumb {
  background: #f31414;
  border-radius: 16px;
}

::-webkit-scrollbar-track {
  background: white;
}

.header {
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 999;
}
.top-nav {
  background-color: rgb(249 247 242);
  text-align: center;
  padding: 13px 0;
}
.top-nav p {
  font-family: sans-serif;
  font-size: 11px;
  font-weight: 400;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  background-color: #fff;
}
.navbar i {
  font-size: 30px;
}
.logo img {
  width: 160px;
}
.social-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position: relative;
}
.social-cart .cart {
  width: 16px;
  height: 16px;
  padding: 2px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  background: #ffee03;
  font-size: 15px;
  position: absolute;
  inset-block-start: -7px;
  inset-inline-end: -7px;
}
.menu-search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-section img {
  position: relative;
  width: 100%;
  z-index: 0;
}
.hero-text {
  position: absolute;
}
.hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  color: #fff;
}
.hero-text h1 {
  font-size: 30px;
  word-spacing: 10px;
}
.hero-text p {
  font-size: 20px;
  word-spacing: 10px;
  letter-spacing: 15px;
}
.hero-text a {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px;
}

.hero-section .hero-text a:hover {
  color: black;
  background: white;
  transform-origin: left;
  transition: 0.5s ease-in-out infinite;
}
.hero-section .hero-text a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/* hero section ends here */

/* reviews button */
.reviews-button {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  background-color: #ffffff58;
  color: #000;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  writing-mode: vertical-rl;
}

.reviews-button:hover {
  background-color: white;
}

/* arrow button */
.arrow-container {
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -450px;
}

.arrow-button {
  background-color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  padding: 15px;
  transition: 0.3s;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.arrow-button:hover {
  background-color: #f0f0f0;
}

/* .arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transform: rotate(-45deg);
} */

/* wardrobe section start */

.Section-style .Heading {
  text-align: center;
  padding: 70px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Section-style .Heading p {
  padding: 0 43px;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
}

.Product-container {
  display: flex;
  justify-content: space-evenly;
  /* background-color: red; */
  padding-top: 40px;
}

.pro-img {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 1px 1px 10px 1px grey;
}

.pro-img img {
  /* height: 200px; */
  width: 300px;
}

.Product-container .Product-container-txt {
  text-align: center;
}
.Product-container .Product-container-txt span {
  color: red;
}

.view-more {
  text-align: center;
  padding: 40px 0;
}

.view-more a {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  border: 2px solid black;
  padding: 15px;
  position: relative;
  z-index: 1;
}

.view-more a::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform-origin: left;
  transition: transform 0.5s ease-in;
  /* transform: scaleX(1); */
  background-color: black;
  z-index: -1;
}
.view-more a:hover {
  color: black;
}

.view-more a:hover::before {
  transform-origin: right;
  transform: scaleX(0);
}

/* wardrobe section ends here */

/* big-img section start */

.big-img img {
  width: 100%;
  margin-top: 50px;
}
/* big-img section end */

/* footer css start here */

.footer {
  /* width: 100%; */

  display: flex;
  justify-content: space-between;
  /* background-color: grey; */
  padding-top: 20px;
}

.about-us p {
  color: rgb(16, 14, 14);

}

.footer .about-us {
  width: 350px;
  font-size: 20px;
  display: flex;
  row-gap: 20px;
  align-items: left;
  flex-direction: column;
  padding-left: 25px;
}

.footer .footer-menu ul a {
  list-style: none;
  text-decoration: none;
  gap: 20px;
  color: #393939a6;
  margin-top: 7px;
}
.footer .footer-menu ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer .footer-menu {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
  width: 300px;
}

.footer .footer-newsletter .div-main2 {
  display: flex;
  font-size: 17px;
  width: 300px;
  flex-direction: column;
  gap: 20px;
}
.footer .footer-newsletter .div-main2 p{
  color: rgb(42, 34, 34);

}

.footer .footer-newsletter {
  margin-right: 50px;
  margin-bottom: 20px;
  
}
input {
  width: 300px;
  height: 20px;
  padding: 20px;
}

.subscribe-btn {
  display: flex;
  justify-content: left;
  margin-top: -30px;
}

.insta {
  margin: 40px 20px;
}

.copyright {
  margin: 40px 20px;
}
